@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Questrial&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-display: swap;
    font-weight: 300;
    font-size: 20px;
    line-height: 120.00000476837158%;
    letter-spacing: -2%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:$para-dark-grey;

    p{
        color:$para-dark-grey;
        line-height: 24px;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Questrial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: swap;
    margin-bottom: 2rem;
    letter-spacing: -1%;
    line-height: 100%;
    color:$stand-black;
}

h1{font-size: 120px;}
h2{font-size:100px;}
h3{font-size:80px;}
h4{font-size: 40px;}
h5{font-size: 52px;}
h6{font-size: 48px;}